body {
  background-color: hsl(0, 0%, 89%);
}

.chart__chart.pie {
  max-width: 480px;
  height: 400px;
}

.chart {
  display: flex;
  max-width: 960px;
  margin: 50px auto;
  justify-content: space-around;
  align-items: center;
}

.bar p {
  line-height: 15px;
  margin: 3px 0;
  font-size: 14px;
}
